<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal</title>
</head>

<body>
  <div class="wrapper">
    <button class="abrir-modal" (click)="abrirModal()">Abrir Modal</button>

    <ng-container *ngIf="aberto">

      <app-modal class="modal">
        <button class="xizinho" botao (click)="abrirModal()">X</button>
        <p class="texto" texto>Escolha um Botão!</p>
        <div class="div-botoes">
          <button class="abrir-modal" botao (click)="abrirOutroModal()">Raposas</button>
          <button class="abrir-modal" botao2 (click)="abrirTerceiroModal()">Gatos</button>
        </div>
      </app-modal>

      <ng-container *ngIf="outroAberto">
        <app-modal id="outroModal1">
          <button class="xizinho1" botao (click)="abrirOutroModal()">X</button>
          <input class="input-modal" type="number" placeholder="Escolha" #valor>
          <button class="botao-confirmar" botao (click)="consultar(valor.value)">Confirmar</button>
          <img class="imagem-modal" *ngIf="linkImage != null" src="{{linkImage}}">
        </app-modal>
      </ng-container>

      <ng-container *ngIf="terceiroModal">
        <app-modal id="outroModal2">
          <button class="xizinho1" botao (click)="abrirTerceiroModal()">X</button>
          <select class="select">
            <option *ngFor="let tag of gatos">{{tag}}</option>
          </select>
          <input class="input-modal2" type="number" placeholder="Escolha" [(ngModel)]="numero">
          <button class="botao-confirmar" botao (click)="consultarTerceiro()">Confirmar</button>
          <img class="imagem-modal" *ngIf="linkImageTerceiro != null" src="{{linkImageTerceiro}}">
        </app-modal>
      </ng-container>

      <div class="background"></div>
    </ng-container>
  </div>
</body>

</html>