<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal</title>
</head>
<body>
  <app-button texto="Abrir Modal" (click)="abrirModal()"></app-button>

  <ng-container *ngIf="aberto">
    <app-modal class="modal">
      <app-button class="xizinho" texto="X" botao (click)="abrirModal()"></app-button>
      <p class="texto" texto>Escolha e se surpreenda!</p>
      <app-button texto="Botão 1" value="1" (click)="abrirOutroModal()"></app-button>
      <app-button texto="Botão 2" value="2" (click)="abrirOutroModal()"></app-button>
      <app-button texto="Botão 3" value="3" (click)="abrirOutroModal()"></app-button>
    </app-modal>
    <ng-container *ngIf="outroAberto">
      <app-modal id="outroModal">
        <app-button class="xizinho" texto="X" botao (click)="abrirOutroModal()"></app-button>
      </app-modal>
    </ng-container>
    <div class="background"></div>
  </ng-container>


  <input type="number" #valor>
  <br>
  <button (click)="consultar(valor.value)">confirmar</button>
  <br>
  <img [src]="linkImage">

</body>
</html>

